<style>
  div {
    text-align: center;
  }
  body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/87/73578b94f836a03.jpg);
  }
  h2 {
    text-align: center;
    color: rgb(211, 41, 41);
    font-size: 38px;
  }
  p {
    color: white;
    font-size: 20px;
  }
  span {
  color: white;
  font-size: 20px;
  border: 2px solid white;
  box-sizing: content-box;
  padding: 5px;
}
</style> 

<h1><%= link_to @review.movie.title, movie_path(@review.movie) %></h1>
<div><%= image_tag @review.movie.poster %></div>

<div>
  <h2>Your Review</h2>
  <p><span><%= @review.content %></span></p>
</div>

<p><%= link_to "Edit", edit_review_path(@review) %></p>