<h1><%= link_to @review.movie.title, movie_path(@review.movie) %></h1>
<%= image_tag @review.movie.poster %>

<div>
  <h2>Your Review</h2>
  <p><%= @review.content %></p>
</div>

<p><%= link_to "Edit", edit_review_path(@review) %></p>